NODE_ENV="dev"
### Database Vars to format DB_URL: `mongodb://${DB_USER}:${DB_PASSWORD}@${DB_HOST}:${DB_PORT}/${DB_NAME}` 
DB_HOST="localhost"
DB_PORT=27017
DB_NAME="adeeb_db"
DB_USER="mongodb"
DB_PASSWORD="mongodb"
### Cache
VALKEY_HOST="localhost"
VALKEY_PASSWORD="password"
VALKEY_PORT=6379
### JWT
JWT_PRIVATE_PATH="jwt_private_rsa256.key"
JWT_PUBLIC_PATH="jwt_public_rsa256.key"